# Example Environment Config
# for FCC-URL-SHORTENER

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

# used to build the connection string for connecting to an mlab database
# ex usage: 
# mongodb://'+process.env.USER+':'+process.env.PASS+'@'+process.env.HOST+':'+process.env.DBPORT+'/'+process.env.DB;
USER=myusername
PASS=mypassword
HOST=ds194353.mlab.com
DBPORT=25640
DB=mydatabasename

# collection name to use for storing the url documents
COLLECTION=mycollection

# home url of our app
APPURL=https://gigantic-honey.glitch.me/

# note: .env is a shell file so there can't be spaces around '=